.wrap {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1000;
  margin-top: -15px;
  margin-left: 15px;
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px dashed #232323;
  border-radius: 100px;
  animation-name: circleintro;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.square {
  width: 20px;
  height: 20px;
  background-color: black;
  margin-top: -17px;
  margin-left: 17px;
}

@keyframes circleintro {
  0% {
    border: 2px dashed #000000;
  }
  50% {
    border: 2px dashed white;
  }
  100% {
    border: 2px dashed #232323;
  }
}
