.container {
  text-align: center;
  margin-top: 154px;
}

.id {
  font-size: 70px;
  background: linear-gradient(180deg, #fff, #adadad);
  color: transparent;
  font-family: "Geist Sans";
  font-weight: 800;
  background-clip: text;
  margin-top: 25px;
  width: 300px;
  margin: 0;
}

.name {
  font-size: 32px;
  color: #888888;
  font-family: "PretendardVariable-SemiBold";
  margin-top: 36px;
}
