.button {
  width: 130px;
  height: 50px;
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
}

.button:hover {
  background-color: #c5c5c5;
}

.text {
  font-size: 20px;
  color: #000;
  font-family: "GeistVariableVF-Regular";
  text-decoration: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  text-decoration: none;
}
