.wrap {
  display: flex;
  margin-top: 28px;
  justify-content: center;
}

.link {
  margin: 12px;
  filter: brightness(0%);
  transition: all 0.3s;
}

.link:hover {
  filter: brightness(50%);
}

@media (prefers-color-scheme: dark) {
  .link {
    margin: 12px;
    filter: brightness(100%);
    transition: all 0.3s;
  }
}
