@import "tailwindcss";

:root {
  --color-background: #111111;
  --color-muted: #7d7d7d;
  --color-primary: #d8d8d8;
  --color-faint: #323232;
  --color-accent: #3a8ae0;
  --color-muted-15: rgba(125, 125, 125, 0.15);
  --color-muted-5: rgba(125, 125, 125, 0.05);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-black: #000000;
}

@theme inline {
  --color-background: var(--color-background);
  --font-pretendard: var(--font-pretendard);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--color-background);
  color: var(--color-primary);
}
