@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard";
  font-weight: 500;
}

:root {
  --font-color: #000000;
  --border-color: #ececec;
  --primary-color: #fafafa;
  --subtitle-color: #4e515d;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #ffffff;
    --border-color: #282828;
    --primary-color: #161616;
    --subtitle-color: #bcbcbc;
    --background-color: #000000;
  }
}
